@model Employee

<h1>add employee</h1>

<form asp-action="AddEmployeePost">
    <div class="form-group">
        <label asp-for="FirstName">First Name: </label>
        <input asp-for="FirstName">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name: </label>
        <input asp-for="LastName">
    </div>
    <input type="submit">
</form>