@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Number of Dependents</th>
            <th>Salary</th>
            <th>Total Healthcare Cost Per Year</th>
        </tr>
        @foreach(Employee e in Model)
        {
            int TotalCostPerYear = 0;
            if(e.FirstName[0] == 'A')
            {
                TotalCostPerYear += 900;
            }
            else
            {
                TotalCostPerYear += 1000;
            }

                @foreach (Dependent d in e.RelatedDependents)
                {
                    @if(d.FirstName[0] == 'A')
                    {
                        TotalCostPerYear += 450;
                    }
                    else
                    {
                        TotalCostPerYear += 500;
                    }
                }
            <tr>
                <td> <a asp-action="EmployeeDetail" asp-route-id="@e.EmpId">@e.FirstName @e.LastName</a></td>
                <td>@e.RelatedDependents.Count</td>
                <td>$@e.Salary</td>
                <td>$@(TotalCostPerYear)</td>
            </tr>
        }
    </table>
    <a asp-action="AddEmployeeForm">Add a new employee!</a>

    
</div>
