@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Employee List</h1>
    <ol>
        <li>Emp 1</li>
        <li>Emp 2</li>
        <li>Emp 3</li>
        <li>Emp 4</li>
        <li>Emp 5</li>
    </ol>
    <a asp-action="AddEmployeeForm">Add a new employee!</a>

    
</div>
